In [2]:
# Day 25 of 30 Days of Python

import pandas as pd
import numpy as np

In [4]:

# Creating a series
nums = [91, 12, 31, 42, 57]
fruits = ['Orange','Banana','Mango']
s = pd.Series(nums)
f = pd.Series(fruits)
print(s)
print(f)

0    91
1    12
2    31
3    42
4    57
dtype: int64
0    Orange
1    Banana
2     Mango
dtype: object

In [7]:
# Creating a Pandas Series Using Linspace
s = pd.Series(np.linspace(5, 20, 10)) # linspace(starting, end, items)
print(s)

0     5.000000
1     6.666667
2     8.333333
3    10.000000
4    11.666667
5    13.333333
6    15.000000
7    16.666667
8    18.333333
9    20.000000
dtype: float64

In [11]:
# Reading CSV File Using Pandas
import pandas as pd

df = pd.read_csv('../data/weight-height.csv')
print(df)

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [12]:
# Count the number of rows and columns
df.shape

(10000, 3)