## Day 14 of 30 Days of Python

#### Exercise Level 1

In [38]:
countries = ['Estonia', 'Finland', 'Sweden', 'Denmark', 'Norway', 'Iceland']
names = ['Asabeneh', 'Lidiya', 'Ermias', 'Abraham']
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
# Explain the difference between map, filter, and reduce.

In [ ]:
# Explain the difference between higher order function, closure and decorator

In [37]:
# Define a call function before map, filter or reduce, see examples.

In [42]:
# Use for loop to print each country in the countries list.
for country in countries:
    print(country)

Estonia
Finland
Sweden
Denmark
Norway
Iceland

In [41]:
# Use for to print each name in the names list.
for name in names:
    print(name)

Asabeneh
Lidiya
Ermias
Abraham

In [43]:
# Use for to print each number in the numbers list.
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

#### Exercise Level 2

In [51]:
# Use map to create a new list by changing each country to uppercase in the countries list
def make_uppercase(country):
    return country.upper()

result = map(make_uppercase, countries)
print("Original List: ", countries)
print("Uppercase List: ", list(result))

Original List:  ['Estonia', 'Finland', 'Sweden', 'Denmark', 'Norway', 'Iceland']
Uppercase List:  ['ESTONIA', 'FINLAND', 'SWEDEN', 'DENMARK', 'NORWAY', 'ICELAND']

In [53]:
# Use map to create a new list by changing each number to its square in the numbers list
def square_numbers(number):
    return number ** 2

result = map(square_numbers, numbers)
print(list(result))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
# Use map to change each name to uppercase in the names list
def names_upper(name):
    return name.upper()
names_to_upper = map(names_upper, names)
print(list(names_to_upper))

['ASABENEH', 'LIDIYA', 'ERMIAS', 'ABRAHAM']

In [60]:
# Use filter to filter out countries containing 'land'.
def countries_with_land(country):
    c_land = []
    if 'land' in country:
        c_land.append(country)
        return True
    return c_land
country_names = filter(countries_with_land, countries)
print(list(country_names))

['Finland', 'Iceland']

In [61]:
# Use filter to filter out countries having exactly six characters.
def countries_with_six_char(country):
    six_char_lst = []
    if len(country) == 6:
        six_char_lst.append(country)
        return True
    return six_char_lst

six_char_result = filter(countries_with_six_char, countries)
print(list(six_char_result))

['Sweden', 'Norway']

In [63]:
# Use filter to filter out countries containing six letters and more in the country list.
def countries_with_six_or_more_char(country):
    six_char_lst = []
    if len(country) >= 6:
        six_char_lst.append(country)
        return True
    return six_char_lst

six_or_more_char_result = filter(countries_with_six_or_more_char, countries)
print(list(six_or_more_char_result))

['Estonia', 'Finland', 'Sweden', 'Denmark', 'Norway', 'Iceland']

In [64]:
# Use filter to filter out countries starting with an 'E'
def countries_startswith_e(country):
    startswith_e_lst = []
    if country.startswith("E"):
        startswith_e_lst.append(country)
        return True
    return startswith_e_lst

c_startswith_e = filter(countries_startswith_e, countries)
print(list(c_startswith_e))

['Estonia']

In [ ]:
# Chain two or more list iterators (eg. arr.map(callback).filter(callback).reduce(callback))

In [ ]:
# Declare a function called get_string_lists which takes a list as a parameter and then returns a list containing only 
# string items.

In [ ]:
# Use reduce to sum all the numbers in the numbers list.

In [ ]:
# Use reduce to concatenate all the countries and to produce this sentence: Estonia, Finland, Sweden, Denmark, Norway, 
# and Iceland are north European countries